[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"self" = {path = ".", editable = true}
"e1839a8" = {path = ".", editable = true}

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"
sphinx = "*"
sphinx-autobuild = "*"
perf = "*"

[requires]
python_version = "3.7"

[scripts]
"check-format" = "black --diff --check dataclass_structor tests"
"build-docs" = "sphinx-build -b html . ./_build"
"format" = "black dataclass_structor tests"
"perf-tests" = "python tests/perf_tests.py -o bench.json"
"test" = "pytest"
"typecheck" = "mypy dataclass_structor"

[pipenv]
allow_prereleases = true
